/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Height & Sections */
html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-coming-soon);
  display: flex;
}

main {
  flex-grow: 1;
  margin-top: 4.75rem;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  scroll-snap-align: start;
}

/* Headings */
h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-family: var(--font-licorice);
}

h1 {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
}

h2 {
  font-size: 3.5rem;
  border-bottom: 2px solid #542869;
  font-weight: 500;
  color: #542869;
  margin: 2rem 0;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #542869, #f2afc1);
  background-clip: text;
  -webkit-background-clip: text;
  margin: 1rem;
}

/* Media Queries */
@media screen and (max-width: 850px) {
  /* Height & Sections */
  main {
    margin-top: 7.25rem;
  }
}
@media screen and (max-width: 480px) {
  /* Height & Sections */
  section {
    height: auto;
  }

  main {
    margin-top: 4.125rem;
    scroll-snap-type: none;
  }

  /* Headings */
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
    border-bottom-width: 1px;
    margin: 1.5rem 0;
  }
}

@media screen and (max-width: 260px) {
  h1 {
    font-size: 1.5rem;
  }
}

/* Scrollbar custom */

main::-webkit-scrollbar {
  width: 0.7rem;
}

main::-webkit-scrollbar-track {
  box-shadow: inset 0 2px 4px #c58ee0;
}

main::-webkit-scrollbar-thumb {
  background: #c58ee0;
  border-radius: 10px;
}
